body {
    background-color: orange;
}

h3 {
    text-align: center;
}a

.IntroText {
    border: 5px solid orange;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.FirstScreen {
    display: flex;
    justify-content: space-around;
    height: 300px;

}

.FirstButtons {
    margin: 70px;
    display: flex;
    justify-content: space-around;
}

.UpsetFriend {
    display: none;
}
